<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jerrioh.diary">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBarTheme">
        <activity android:name=".activity.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.main.DiaryGroupPopActivity" android:theme="@style/AnonymousDiaryTheme" />
        <activity android:name=".activity.main.ChocolateStorePopActivity" android:theme="@style/AnonymousDiaryTheme" />
        <activity android:name=".activity.main.DiaryWriteActivity" />
        <activity android:name=".activity.main.DiaryGroupReadActivity" />

        <activity android:name=".activity.main.DiaryReadActivity" />
        <activity android:name=".activity.main.LetterReadActivity" />

        <activity android:name=".activity.draw.AccountActivity" />
        <activity android:name=".activity.draw.AccountSignUpActivity" />
        <activity android:name=".activity.draw.AccountChangePwActivity" />
        <activity android:name=".activity.draw.SettingActivity" />
        <activity android:name=".activity.draw.ChocolateStoreActivity" />
        <activity android:name=".activity.draw.FaqActivity" />
        <activity android:name=".activity.draw.AboutApplicationActivity" />

    </application>

</manifest>